@import url(https://fonts.googleapis.com/css?family=Roboto);

html{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
}

body::after, body::before,
input::after,
input::before,
body *::after,
body *::before {
    box-sizing: border-box;
}


h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 2em;
}

#entryDiv{
    padding-bottom: 10px;
}

#entryTitle{
    font-size: 20pt;
    width: 100%;
}

#entryBody{
    font-size: 20pt;
    width: 100%;
}

#entrySubmit{
    text-align: center;
}

.container {
    position: relative;
    max-width: 40rem;
    margin: 3rem auto;
    background: #fff;
    width: 100%;
    padding: 3rem 5rem;
    border-radius: 1px;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
    -webkit-transition: -webkit-transform 0.28s ease-in-out;
    z-index: -1;
}



.button-container {
    text-align: center;
}

.form-group {
    position: relative;
    padding:  0 0 20px 0;
    margin-bottom: 2.25rem;
}


.form-group input {
    height: 1.9rem;
}

.form-group .control-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: normal;
    transition: all 0.28s ease;
}

.form-group .bar {
    position: relative;
    border-bottom: 0.0625rem solid #999;
    display: block;
}

.form-group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: rebeccapurple;
    transition: left 0.28s linear, width 0.28s linear;
    z-index: 2;
}

.form-group input {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    transition: all 0.28s ease;
    box-shadow: none;
    word-wrap: break-word;
}

.form-group input[type="file"], .form-group input[type="url"] {
    line-height: 1;
}

.form-group input[type=""] ~ .bar {
    display: none;
}



.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value{
    color: #333;
}

.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label {
    font-size: 0.8rem;
    color: gray;
    top: -1rem;
    left: 0;
}

.form-group input:focus {
    outline: none;
}

.form-group input:focus ~ .control-label {
    color: rebeccapurple;
}
.form-group input:focus ~ .bar::before{
    width: 100%;
    left: 0;
}

.button-container {
    height: 5rem;
}

.button {
    width: 200px;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    padding: 1rem;
    position: relative;
    border: 1px;
    color: white;
    background-color: rebeccapurple;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.button:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}


#buttonVal{

    color: red;
    padding: 5px 5px 5px 0;
    font-size: 12pt;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header a {
    margin-right: 20px;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}
.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

.error-message {
    color: red;
    padding: 1rem;
    position: relative;
    font-size: 18pt;
    text-align: center;
}

.header a.logout{
    background-color: red;
    color: white;
}

.header a.logout:hover{
    background-color: indianred;
    color: white;
}

#sign-up {
    width: 170px;
}