<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h1>404 Not Found</h1>
    <div class="button-container" id="button-container">
        <a href="/home">
            <input class="button" value="Return Home"/>
        </a>
    </div>
</div>
</body>
</html>